/* Statictic section */
.dashboard .statistic {
  display: flex;
  flex: 1;
  gap: 12px;
}

.dashboard .statistic .card {
  max-height: 199px;
}
/* Total Sales  */
.dashboard .total-sales {
  max-width: 398px;
  display: flex;
  padding: 20px 20px 28px 20px;
}

.dashboard .total-sales .card-img-wrapper {
  padding: 34px 39px;
  margin-right: 33px;
  border-right: 1px solid #dbdade;
}

.dashboard .total-sales .card-img-wrapper .img-box {
  width: 73px;
  height: 73px;
}

.dashboard .total-sales .card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 4px;
}

.dashboard .total-sales .card-content span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.dashboard .total-sales h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 30px;
  margin-bottom: 16px;
}

.dashboard .total-sales .card-description {
  color: var(--gray);
}

.dashboard .total-sales .card-description span {
  color: var(--green);
  display: inline-flex;
  align-items: center;
  transform: translateY(3px);
}

/* Total Profit  */
.dashboard .total-profit {
  padding: 21px 0 24px 24px;
  max-width: 242px;
}

.dashboard .total-profit .card-img-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.dashboard .total-profit .card-img-wrapper .img-box {
  width: 43px;
  height: 43px;
  margin-right: 22px;
}

.dashboard .total-profit .title-wrapper p {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.dashboard .total-profit .title-wrapper span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.dashboard .total-profit .card-content h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.dashboard .total-profit .card-content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.dashboard .total-profit .card-content p span {
  color: var(--green);
  display: inline-flex;
  align-items: center;
  transform: translateY(3px);
}

/* Countries  */
.dashboard .countries {
  padding: 24px;
}

.dashboard .countries ul li {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.dashboard .countries .img-box {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-right: 16px;
}

.dashboard .countries .stat p {
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}

.dashboard .countries .stat .country {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray);
  margin-right: 16px;
  min-width: 83px;
}

.dashboard .countries .stat-bar {
  background: var(--bluish-gray);
  width: 100%;
  height: 6px;
  border-radius: 10px;
  position: relative;
  margin-right: 16px;
  flex: 1;
}

.dashboard .countries .stat-bar::after {
  content: "";
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  z-index: 2;
}

.dashboard .countries .status p {
  display: flex;
  align-items: center;
  transform: translateY(2px);
}

.dashboard .countries .status p.increase {
  color: var(--green);
}

.dashboard .countries .status p.decrease {
  color: var(--red);
}

/* Info Section  */
.dashboard .info.card {
  margin-top: 16px;
  padding: 24px 24px 0;
}

.dashboard .info .personal-information {
  display: flex;
  padding: 0 15px;
}

/* Profile  */
.dashboard .personal-information .profile {
  display: flex;
  align-items: center;
  min-width: 315px;
  border-right: 1px solid var(--border-gray);
  padding: 34px 0;
}

.dashboard .personal-information .profile .img-box {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background: var(--purple);
  position: relative;
  margin-right: 15px;
}

.dashboard .personal-information .profile .img-box::after {
  content: "";
  height: 58px;
  width: 58px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  opacity: 30%;
  border-radius: 50%;
  z-index: 2;
}

.dashboard .personal-information .description h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.dashboard .personal-information .description p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/* Information  */
.dashboard .personal-information .information {
  padding-left: 23px;
  min-width: 356px;
  border-right: 1px solid var(--border-gray);
}

.dashboard .personal-information .information p {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.28px;
  margin-bottom: 16px;
}

.dashboard .personal-information .information p:first-of-type {
  color: var(--gray);
  font-weight: 500;
  margin-bottom: 16px;
}

.dashboard .personal-information .information p span {
  display: inline-block;
  width: 116px;
}

/* Shipping  */
.dashboard .personal-information .shipping {
  flex: 1;
  padding: 0 24px;
}

.dashboard .personal-information .shipping p {
  font-size: 13px;
  line-height: 15.28px;
}

.dashboard .personal-information .shipping .title {
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 16px;
}

.dashboard .personal-information .shipping .status {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.dashboard .personal-information .status div p:first-child {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}

.dashboard .personal-information .status div p:last-child {
  color: var(--gray);
  margin-top: 8px;
}

/* Table Filter  */
.dashboard .table-filter ul {
  display: flex;
  margin-top: 4px;
}

.dashboard .table-filter ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding: 16px 24px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.dashboard .table-filter ul li.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Customer Table  */
.dashboard .customer-table {
  margin-bottom: 30px;
}

.dashboard .table-sort-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.dashboard .table-sort-filter div {
  display: inline-block;
}

.dashboard .table-sort-filter select,
.dashboard .table-sort-filter input {
  height: 40px;
  color: var(--gray);
  outline: none;
  border: 1px solid var(--border-gray);
  margin-right: 14px;
  padding: 5px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 400;
}

.dashboard .table-sort-filter .search-filter {
  position: relative;
  margin-right: 0;
}

.dashboard .table-sort-filter .search-filter input {
  min-width: 200px;
  margin: 0;
}

.dashboard .table-sort-filter .search-filter svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dashboard .table-sort-filter div:last-child .e-input-group {
  font-family: inherit;
  border: 1px solid var(--border-gray) !important;
  padding: 5px 10px;
  border-radius: 6px;
  background: var(--white);
  font-size: 15px;
}

/* Main Table Content  */
.dashboard .customer-table .table-wrapper {
  background: var(--white);
  padding: 8px 16px;
  margin-top: 22px;
  border-radius: 16px;
}

.dashboard .customer-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard .customer-table table td,
.dashboard .customer-table table th {
  text-align: left;
  padding: 16px 20px;
  border-bottom: 1px solid var(--border-gray);
}

.dashboard .customer-table table th {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.28px;
  color: var(--gray);
}

.dashboard .customer-table table td {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.dashboard .customer-table table .completed,
.dashboard .customer-table table .canceled,
.dashboard .customer-table table .pending {
  color: var(--yellow);
  font-weight: 600;
}

.dashboard .customer-table table .completed {
  color: var(--green);
}

.dashboard .customer-table table .canceled {
  color: var(--red);
}

.dashboard .customer-table table td a {
  color: var(--primary-color);
}

/* Pagination  */
.dashboard .table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .table-footer .entries {
  display: flex;
  align-items: center;
}

.dashboard .table-footer .entries p {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.63px;
  color: var(--gray);
}

.dashboard .table-footer .entries select {
  margin: 0 8px;
  width: 65px;
  height: 38px;
  text-align: center;
  border-color: var(--border-gray);
  border-radius: 6px;
  color: var(--dark);
}

/* Pagination  */
.dashboard .pagination {
  display: flex;
  justify-content: flex-end;
  padding: 21px 15px;
}

.dashboard .pagination .page-item {
  font-size: 13px;
  font-weight: 400;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background: var(--pagination-button-background);
  margin: 2px;
  color: var(--gray);
  border-radius: 4px;
  cursor: pointer;
}

.dashboard .pagination .page-item.active {
  background: var(--primary-color);
  color: var(--white);
}

.dashboard .pagination .page-item svg {
  line-height: 32px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .dashboard .statistic {
    flex-wrap: wrap;
  }

  .dashboard .total-sales,
  .dashboard .total-profit {
    max-width: 100%;
  }

  .dashboard .info .personal-information {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .dashboard .personal-information .profile,
  .dashboard .personal-information .information,
  .dashboard .personal-information .shipping {
    width: 100%;
    border-right: 0px;
    border-bottom: 1px solid var(--border-gray);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .dashboard .table-sort-filter {
    flex-wrap: wrap;
  }

  .dashboard .table-sort-filter div,
  .dashboard .table-sort-filter select,
  .dashboard .table-sort-filter input {
    width: 100%;
  }

  .dashboard .customer-table .table-wrapper {
    overflow-x: scroll;
  }

  .dashboard .customer-table .table-wrapper table {
    min-width: 768px;
  }
}
