@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0f60ff;
  --dark: #23272e;
  --gray: #8b909a;
  --bluish-gray: #e9e7fd;
  --light-gray: #f5f5f5;
  --border-gray: #dbdade;
  --white: #fff;
  --green: #1eb564;
  --light-green: #28c76f;
  --red: #ea5455;
  --yellow: #ffc600;
  --purple: #7367f0;

  --pagination-button-background: #f1f2f6;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Public Sans", system-ui;
  font-optical-sizing: auto;
  list-style: none;
  transition: all 0.3s;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-weight: 400;
  background: var(--light-gray);
  color: var(--dark);
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

section {
  margin-right: 34px;
}

.main-wrapper {
  display: flex;
}

.content-wrapper {
  width: calc(100% - 290px);
}

.card {
  width: 100%;
  background: var(--white);
  border-radius: 16px;
}
