.content-wrapper {
  flex: 1;
}

header {
  height: 62px;
  margin: 8px 28px 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  color: var(--dark);
}

header .profile-box {
  display: flex;
  align-items: center;
}

header .profile-box .notification {
  position: relative;
  cursor: pointer;
}

header .profile-box .notification span {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  background: var(--red);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
}

header .profile-box .profile {
  position: relative;
  height: 38px;
  width: 38px;
  background: var(--purple);
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
header .profile-box .profile .active {
  display: inline-block;
  position: absolute;
  bottom: 2px;
  right: 2px;
  height: 8px;
  width: 8px;
  outline: 2px solid var(--white);
  border-radius: 50%;
  background: var(--green);
}
